@mixin color-neutral {
  --dx-color-neutral-000: 255 255 255;
  --dx-color-neutral-050: 249 249 249;
  --dx-color-neutral-100: 236 236 236;
  --dx-color-neutral-200: 222 222 222;
  --dx-color-neutral-300: 206 206 206;
  --dx-color-neutral-400: 186 186 186;
  --dx-color-neutral-500: 160 160 160;
  --dx-color-neutral-600: 132 132 132;
  --dx-color-neutral-700: 108 108 108;
  --dx-color-neutral-800: 89 89 89;
  --dx-color-neutral-900: 63 63 63;
  --dx-color-neutral-950: 39 39 39;
  --dx-color-neutral-999: 0 0 0;
}

@mixin color {
  @include color-neutral();
}
