@mixin border-radius {
  // Standard Sizes
  --dx-border-radius-sm: 0.25rem;
  --dx-border-radius-md: 0.5rem;
  --dx-border-radius-lg: 0.75rem;

  // Additional sizes
  --dx-border-radius-none: 0px;
  --dx-border-radius-circle: 50%;
  --dx-border-radius-pill: 9999px;
}

@mixin border-width {
  --dx-border-width: 0.125rem;

  --dx-border-width-sm: 0.0625rem;
  --dx-border-width-md: 0.125rem;
  --dx-border-width-lg: 0.25rem;
}

@mixin border {
  @include border-radius();
  @include border-width();
}
