.dx-button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
*[role='button'] {
  background-color: var(--dx-color-primary-main);
  color: var(--dx-color-primary-main-contrast);

  border: var(--dx-border-width) solid var(--dx-color-primary-main);
  border-radius: var(--dx-border-radius-sm);

  cursor: pointer;
  display: inline-block;

  height: 3em;
  min-width: 3em;

  font-size: var(--dx-font-size-button);
  font-weight: var(--dx-font-weight-button);
  letter-spacing: var(--dx-font-letter-spacing-button);
  line-height: var(--dx-font-line-height-button);
  padding: var(--dx-padding-sm) var(--dx-padding-md);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus,
  &:hover {
    background-color: var(--dx-color-primary-dark);
    border-color: var(--dx-color-primary-dark);
    color: var(--dx-color-primary-dark-contrast);
  }

  &:focus {
    outline-color: var(--dx-color-primary-light);
    outline-width: var(--dx-border-width-lg);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: var(--dx-color-primary-main);
      border-color: var(--dx-color-primary-main);
    }
  }

  &.dx-button--variant-outlined {
    background-color: transparent;
    color: var(--dx-color-primary-main);

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: var(--dx-color-primary-dark);
      color: var(--dx-color-primary-dark);
    }
    &:disabled {
      &:focus,
      &:hover {
        border-color: inherit;
        color: var(--dx-color-primary-main);
      }
    }
  }
}
